
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;900&display=swap');

*{
  font-family: 'Raleway', sans-serif;
}
.botones{
  background-color:#223142!important;
  text-align: center;
}
.botones:hover, .boton:hover, .btn-active, .botonav:hover {
  background-color: #b1f0dc!important;
  color: #223142!important;
  
  
}


a {
  color: #b1f0dc!important;
}